#communities-table .pagination .page-item {
  &.active {
    .page-link {
      background-color: $gray-400;
    }
  }

  .page-link {
    background-color: $gray-800;

    &:hover {
      background-color: $gray-400;
    }
  }
}
